[src]
type = "imap"
host = "imap.fastmail.com"
port = 993
user = "fox@den.com"
pass = "abc123"
folders = ["INBOX", "Spam"]

[dest.fox]
type = "imap"
host = "my.mx.com"
ip = "127.0.0.1"
port = 993
user = "fox@den.com"
pass = "ghi789"

[dest.wolf]
type = "imap"
host = "my.mx.com"
ip = "127.0.0.1"
port = 993
user = "wolf@den.com"
pass = "jkl012"

[process]
script = """
  (if (flagged "Recogido") (halt!))
  (if
    (or
      (received-by "fox@den.com")
      (received-by "fox@foxden.net"))
    (append! "fox")
    (append! "wolf"))
  (flag! "Recogido")
"""
